<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1032491053498-22iv3k8eqr6j694dh0t2a2l2of3ul69v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1032491053498-22iv3k8eqr6j694dh0t2a2l2of3ul69v</string>
	<key>API_KEY</key>
	<string>AIzaSyCiA5AMF6K68H5ux0O-K0C8IDQ1n4cwbLY</string>
	<key>GCM_SENDER_ID</key>
	<string>1032491053498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebaselearningproject</string>
	<key>PROJECT_ID</key>
	<string>fir-learning-7f4e3</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-learning-7f4e3.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032491053498:ios:b9a138095a9a236401ed83</string>
</dict>
</plist>